<h2>Reactive Form</h2>

<form
    class="user-form"
    [formGroup]="userForm"
    (ngSubmit)="onSubmit()"
>
    <div class="field">
        <label class="form-label">First name</label>
        <input type="text" class="form-control" formControlName="firstName">
        <div class="text-danger">
            <div *ngIf="userForm.controls[ 'firstName' ].invalid && ( userForm.controls[ 'firstName' ].touched || userForm.controls[ 'firstName' ].dirty || isFormSubmitted )">
                <small *ngIf="userForm.controls[ 'firstName' ].errors?.['required']">This is required</small> 
            </div>
        </div>
    </div>
    <div class="field">
        <label class="form-label">Last name</label>
        <input type="text" class="form-control" formControlName="lastName">
        <div class="text-danger">
            <div *ngIf="userForm.controls[ 'lastName' ].invalid && ( userForm.controls[ 'lastName' ].touched || userForm.controls[ 'lastName' ].dirty )">
                <small *ngIf="userForm.controls[ 'lastName' ].errors?.['required']">This is required</small> 
                <small *ngIf="userForm.controls[ 'lastName' ].errors?.['minlength']">Min 4 characters required</small>
            </div>
        </div>
    </div>
    <div class="field">
        <label class="form-label">Username</label>
        <input type="text" class="form-control" formControlName="userName">
        <div class="text-danger">
            <div *ngIf="userForm.controls[ 'userName' ].invalid && ( userForm.controls[ 'userName' ].touched || userForm.controls[ 'userName' ].dirty )">
                <small *ngIf="userForm.controls[ 'userName' ].errors?.['required']">This is required</small> 
                <small *ngIf="userForm.controls[ 'userName' ].errors?.['email']">Email is not valid</small>
            </div>
        </div>
    </div>
    <div class="field">
        <label class="form-label">City</label>
        <input type="text" class="form-control" formControlName="city">
        <div class="text-danger">
            Please choose a city
        </div>
    </div>
    <div class="field">
        <label class="form-label">State</label>
        <select class="form-control" formControlName="state">
            <option value="" selected disabled>Choose...</option>
            <option value="">...</option>
        </select>
        <div class="text-danger">
            Please select a valid state
        </div>
    </div>
    <div class="field">
        <label class="form-label">ZipCode</label>
        <input type="text" class="form-control" formControlName="zipCode">
        <div class="text-danger">
            Please choose a zipcode
        </div>
    </div>
    <div class="field">
        <div class="form-check">
            <input type="checkbox" class="form-control" formControlName="isAgree">
            <label class="form-label">Agree to terms and conditions</label>
            <div class="text-danger">
                You must agree before submitting
            </div>
        </div>
    </div>
    <div class="field">
        <button class="btn btn-primary" type="submit">Submit Form</button>
    </div>
</form>